.navbar {
	border-radius: 0%
}

.btn{
	display: block;
	width: 200px;
	margin-left: 45%;
	margin-right: 50%;
	margin-top: 25%;
}

#title{
	text-align: center;
	
}

body{
	background-color: rgb(255, 255, 242);
}