#PageSummary ul {
  width: auto;
  list-style: none;
}

#PageSummary span {
	color: #1a0dab;
}

#PageSummary span:hover {
	color: #609;
	cursor: pointer;
	color: ;
}

#PageSummary span:nth-child(even) {
	background-color: Gainsboro
}